<md-toolbar>
    <div class="md-toolbar-tools md-whiteframe-4dp">
        <md-button class="md-icon-button" aria-label="Navigation">
            <md-icon class="material-icons" ng-click="toggleSidenav()">menu</md-icon>
        </md-button>
        <h2>
            <span>Jackson Yeager</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-sidenav
        class="md-sidenav-left"
        md-whiteframe="4"
        md-component-id="navigation" style="z-index: 1000;">

    <md-toolbar>
        <h1 class="md-toolbar-tools">Navigation</h1>
    </md-toolbar>
    <md-content>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in nav" ng-click="go(item.path)">
                <md-icon class="material-icons">{{item.icon}}</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.location }}</h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>